*{
    margin: 0;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}
section{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}
#main{
    background-image: url(img/bgMAIN.png);
}
#about{
    background-image: url(img/bgABOUT.png);
}
#skills{
    background-image: url(img/bgSKILLS.png);
}
#works{
    background-image: url(img/bgWORKS.png);
}
#comments{
    background-image: url(img/bgCOMMENTS.png);
}
.main-block, .about-block, .skills-block, .works-block, .comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.main-block{
    flex-direction: column;
    height: 100vh;
}
.main-content{
    background-image: url(img/form1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 849px;
    height: 223px;
    padding: 30px;
    z-index: 2;
}
.main-title{
    padding-top: 67px;
    color: #2b2d35;
    font-size: 80px;
}
.main-subtitle{
    color: #2b2d35;
    font-size: 20px;
    font-family: "comfortaa"
}
.button{
    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid #000;
    background: #BBFF2c;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;
    transition-duration: 0.5s;
}
.button:hover{
    background: #475e10;
}
.button a{
    font-size: 20px;
    text-decoration: none;

}
.image1{
    background-image: url(img/planet.png);
    background-repeat: no-repeat;
    width: 405px;
    height: 330px;
    transform: rotate(-176deg);
    position: absolute;
    right: 20px;
    z-index: 1;
}

@keyframes planet-move{
    from{transform: translateY(0px);}
    to{transform: translateY(70px);}
}
.moving-planet{
    background: url(img/moving-planet.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    left: 30px;
    bottom: 30px;
    animation-name: planet-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.title{
    padding-top: 100px;
    text-align: center;
    color: #fff;
    font-size: 80px;
    text-shadow: 5px 5px 0 #000000;
}
.about-content{
    width: 35%;
    height:270px;
    border-radius: 0px 0px 0px 20px;
    background: #792AFF;
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
    display: flex;
}
.about-title{
    color: #fff;
    font-size: 20px;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: "Comfortaa";
}
.about-card{
    background-image: url(img/form2.png);
    background-repeat: no-repeat;
    width: 376px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: relative;
}
.about-card p{
    color: #000;
    font-size: 17px;
    align-self: start;
    padding-left: 20px;
    line-height: 25px;
    font-family: "Comfortaa";
}
.about-card img{
    padding-bottom: 20px;
}
.moving-cloud{
    background: url(img/cloud.png);
    background-repeat: no-repeat;
    width: 180px;
    height: 162px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.skills-card{
    background-image: url(img/form3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 20px;
    padding-left: 10px;
}
.skills-card p{
    color: #000;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: "Comfortaa";
}
.moving-planet2{
    background: url(img/moving-planet2.png);
    background-repeat: no-repeat;
    width: 208px;
    height: 200px;
    position: absolute;
    left: 0px;
    bottom: 70px;
}
.moving-planet, .moving-cloud, .moving-planet2{
    animation-name: planet-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.works-block img{
    margin: 0 20px;
    width: 27%;
    box-shadow: 7px 7px 0 #000000;
}
.comments-block {
    justify-content: space-evenly;
    max-width: 1150px;
    margin: auto;
}
.comment-card{
    background-image: url(img/card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
.comment-card h3{
    font-size: 18px;
    font-family: "Comfortaa";
    padding: 10px
}
.comment-card p{
    font-size: 14px;
    font-family: "Comfortaa";
    padding: 10px 20px;
    text-align: center;
}
.comment{
    background-image: url(img/comment.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 327px;
    height: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment p{
    font-size: 20px;
    font-family: "Comfortaa";
    max-width: 250px;
}
footer{
    background-color: #200153;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.footer-info p{
    font-family: "Comfortaa";
    padding-bottom: 10px;
}

.footer-year p{
    font-family: "Comfortaa";
    letter-spacing: 1.5px;
}
.footer-links a{
    margin-right: 15px;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.fixed-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.nav-links{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 150px;
}
.nav-link{
    width: 112px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #fff;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: "Comfortaa";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition-duration: 1s;
}
.nav-link:hover{
    background-color: #BBFF2c;
}
.logo{
    color: #BBFF2c;
    font-size: 80px;
    padding-left: 50px;
}
.active{
    background-color: #BBFF2c;
}